In [1]:
import pandas as pd
import sqlalchemy as sql
from pathlib import Path

In [2]:
db_string = 'sqlite:///vinyl_inventory.db'
engine = sql.create_engine(db_string)
engine

Engine(sqlite:///vinyl_inventory.db)

In [3]:
sql.inspect(engine).get_table_names()

['artist', 'note', 'publisher', 'release_year', 'source', 'vinyl_format']

In [5]:
df = pd.read_sql_table('release_year', con=engine)
print(df)

    year_id  year
0         0  1945
1         1  1950
2         2  1954
3         3  1955
4         4  1956
5         5  1957
6         6  1958
7         7  1959
8         8  1960
9         9  1961
10       10  1963
11       11  1964
12       12  1965
13       13  1966
14       14  1967
15       15  1968
16       16  1969
17       17  1970
18       18  1971
19       19  1972
20       20  1973
21       21  1974
22       22  1975
23       23  1976
24       24  1977
25       25  1978
26       26  1979
27       27  1980
28       28  1981
29       29  1982
30       30  1983
31       31  1984
32       32  1985
33       33  2012
34       34  2013
35       35  2014
36       36  2016